/*Estou focando na funcionalidade do código JS primeiro. Caso haja tempo apos o termino da tarefa de CSS
Melhorarei a responsividade desse site.
*/

.main-window-container{
    position: absolute;

    height: 100%;
    width: 100%;

    border: solid 1px gray;
}

.header-container{
    background-color: #222;
    color: #fff;
    padding: 1em;
}

.sent-message-area{
    height: 65%;
    overflow: auto;
}

.sent-message-container{
    display: flex;
    flex-direction: column;
}

.sent-message{
    padding: 1em;
    border: 1px solid #222;
    margin: 0.25em;
}

.author-name{
    font-size: 1em;
    font-family: monospace;
}

.button-area {
    display: flex;
    flex-flow: row-reverse;
}
.input-container{
    position: absolute;
    left: 15%;
    top: 70%;

    width: 60%;
    height: 30%;

    background-color: aliceblue;
}

.input-box{
    height: 80%;
    width: 80%;
    
    margin: 0.5em;
}

.send-btn{
    background-color: #8490d1;
    border-radius: 10%;
}

.button-base{
    color: white;
    padding: 0.5em;
    align-self: flex-end;
}

.edit-field{
    display: none;
    width: fit-content;
}

li{
    list-style-type: none;
}
